<configuration>
    <appender name="logcat" class="ch.qos.logback.classic.android.LogcatAppender">
        <tagEncoder>
            <pattern>%logger{12}</pattern>
        </tagEncoder>
        <encoder>
            <pattern>[%-20thread] %msg</pattern>
        </encoder>
    </appender>

    <property name="app_log_path" value="${EXT_DIR:-/sdcard}/Android/data/${PACKAGE_NAME}/files/logs/wearable_glass" />
    <timestamp key="timestamp" datePattern="yyyyMMdd'T'HHmmss"/>
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${app_log_path}/wearable-glass_${timestamp}.log</file>
        <tagEncoder>
            <pattern>%logger{12}</pattern>
        </tagEncoder>
        <encoder>
            <pattern>%d{yyyy/MM/dd HH:mm:ss.SSS} [%-20thread] %msg%n</pattern>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="logcat" />
        <appender-ref ref="FILE" />
    </root>
</configuration>
